<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eseoteam.android.tagfinder" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Start activity -->
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Connection activity -->
        <activity android:name=".ConnectionActivity" />

        <!-- Library activity -->
        <activity android:name=".LibraryActivity" />

        <!-- Info Tag activity -->
        <activity
            android:name=".InfoTagActivity"
            android:label="@string/title_activity_info_tag"
            android:parentActivityName=".LibraryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eseoteam.android.tagfinder.LibraryActivity" />
        </activity>

        <!-- Search activity -->
        <activity android:name=".SearchActivity"/>

        <!-- Add Tag activity -->
        <activity android:name=".AddTagActivity"/>

    </application>

</manifest>
